main {
    width: 840px;
}

aside {
    width: 30%;
    margin: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

aside img {
    width: 140px;
    height: auto;
}

main img {
    width: 120px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
}
